
<!-- 購入履歴画面（箱） -->

<!--　購入履歴の1つの箱全体 -->
<div class="buys_show_box">

	<!-- 箱のふた（注文日、合計金額、お届け先が入る） -->
	<div class="buys_show_small_box1">

		<!-- 左側のテーブル -->
		<table class="buys_show_small_box1_table1">
			<tr>
				<td class="buys_show_small_box1_td1">注文日</td>
				<td class="buys_show_small_box1_td1">合計</td>
				<td class="buys_show_small_box1_td1">お届け先</td>
			</tr>
			<tr>
				<td class="buys_show_small_box1_td2"></td>
				<td class="buys_show_small_box1_td2">!!!!!!!!!!!!!</td>
				<td class="buys_show_small_box1_td2">!!!!!!!!!!!!!</td>
			</tr>
		</table>


		<!-- 右側のテーブル -->
		<table class="buys_show_small_box1_table2">
			<tr>
				<td class="buys_show_small_box1_td1">配送状況</td>
			</tr>
			<tr>
				<td class="buys_show_small_box1_td2">商品に新しいカラム（配送状況）が必要かも</td>
			</tr>
		</table>

	</div>
	<!-- 箱のふた（注文日、合計金額、お届け先が入る）fin -->



	<!-- 箱の中身（1回の注文で注文した商品全てが入る） -->
	<div class="buys_show_small_box2">

		<!-- 箱の中身の商品の1列（1つの商品の情報全てが入る） -->
		<div class="buys_show_product_line">

			<!-- 商品の画像 -->
			<div class="buys_show_product_line_image">
			</div>

			<table border=3>
				<tr>
					<td class="buys_show_product_line_td1">アーティスト名</td>
					<td class="buys_show_product_line_td2">!!!!!!!!!!!!!!!!!!!!!!!!!!</td>
				</tr>
				<tr>
					<td class="buys_show_product_line_td1">CD名</td>
					<td class="buys_show_product_line_td2">!!!!!!!!!!!!!!!!!!!!!!!!!!</td>
				</tr>
				<tr>
					<td class="buys_show_product_line_td1">注文数</td>
					<td class="buys_show_product_line_td2">!!!!!!!!!!!!!!!!!!!!!!!!!!</td>
				</tr>
				<tr>
					<td class="buys_show_product_line_td1">値段</td>
					<td class="buys_show_product_line_td2">!!!!!!!!!!!!!!!!!!!!!!!!!!</td>
				</tr>
			</table>

		</div>

	</div>
	<!-- 箱の中身（1回の注文で注文した商品全てが入る）fin -->

</div>
<!-- 購入履歴の1つの箱全体fin -->
