<div class="product_index_content2 clearfix">
	<h1 class="product_index_content_headtitle2">検索結果一覧</h1>


     <% @products.each do |product| %>
		<div class="product_index_disc_box2 ">
			<div class="product_index_disc_box_image2">サムネイル
				<%= attachment_image_tag product, :image, :fill, 300, 300, format: 'jpeg' %>
			</div>
			<h2 class="product_index_disc_box_album2">アルバム名
				<%=link_to product.album, product_path(product.id) %>
			</h2>
			<h2  class="product_index_disc_box_price2">￥...
				<!--fixme ここにnew price引用予定 -->
			</h2 >
		</div>

	<% end %>
</div>

<div>
<%= paginate @products, :param_name => 'page' %>

</div>