/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	background-color: rgb(245, 245, 245);
}

/*ここからヘッダーとフッター*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
	background-color: rgb(200, 250, 220);
	width: 100%;
	height: 70px;
	margin: 0 auto;
}

footer {
	background-color: rgb(200, 250, 220);
	width: 100%;
	height: 60px;
	margin: 0 auto;

}



.products_index_header {
    display: inline-block;
    list-style: none;
    line-height: 50px;
}

.products_index_header_title {
	background-color: rgb(150, 250, 170);
	width: 150px;
	height: 50px;
	font-size: 26px;
	float: left;
}

.products_index_header_itembox {
	background-color: rgb(130, 240, 150);
	width: 800px;
	height: 50px;
	text-align: center;
	margin-left: 300px;
}

.products_index_header_item {
	background-color: rgb(100, 230, 130);
	width: 100px;
	height: 50px;
	display: inline-block;
}

.products_index_search {
	background-color: rgb(100, 230, 130);
	width: 400px;
	height: 50px;
	float: left;
}



.products_index_footer {
    display: inline-block;
    list-style: none;
    line-height: 50px;
	position: absolute;
}

.products_index_footer_itembox {
	background-color: rgb(130, 240, 150);
	width: 300px;
	height: 50px;
	text-align: center;
	margin-left: 850px;

}

.products_index_footer_item {
	background-color: rgb(100, 230, 130);
	width: 150px;
	height: 50px;
	display: inline-block;
	float:right;
}

.products_index_footer_c {
	width: 30px;
	height: 50px;
	position: relative;
	top: -32px;
	right: -1200px;
}
