/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox
 *= require flexslider.css
 */

body {
	background-color: rgb(245, 245, 245);
	font-family: 'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Meiryo, メイリオ, sans-serif;
	color: #222222;
}
/*リンクにマウスを持って行ったら赤く表示するやつ*/
a:hover{
	color: red;
}

/*ここからヘッダーとフッター*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
	background-color: white;
	width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.16);
}

footer {
	background-color: #212121;
	width: 100%;
	height: 100px;
}


.products_index_header {
    display: inline-block;
    list-style: none;
    line-height: 40px;
    width: 100%;
}

.products_index_header_title {
	vertical-align: top;
	object-fit: fill;
	text-decoration: none;
	margin-left: 500px;
	float: left;
}

.products_index_header_logo{
	width: 150px;
	height: 70px;
	max-width: 100%;
	max-height: 100%;
	margin-top: 10px;
}

.products_index_header_itembox {
	height: 30px;
}

.products_index_header_item {
	width: 100px;
	height: 30px;
	display: inline-block;
	vertical-align: top;
}

.products_index_search {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}

.products_index_search_box {
	width: 100%;
}

.products_index_footer {
    display: inline-block;
    height: 60px;
    list-style: none;
    line-height: 60px;
	position: absolute;
}

.products_index_footer_itembox {
	width: 300px;
	height: 50px;
	text-align: center;
	margin-left: 1000px;

}

.products_index_footer_item {
	width: 150px;
	height: 50px;
	display: inline-block;
	float:right;
}

.products_index_footer_c {
	width: 30px;
	height: 50px;
	position: relative;
	top: -32px;
	right: -1300px;
	color: white;
}

/*新規登録画面*/


.sign-in{

	width: 60%;
	height: 100%;
	text-align: center;
	background-color: gray;
	border: groove;
	margin:0 auto;
}
.new_log_in{
	width: 60%;
	height: 100%;
	text-align: center;
	border:groove;
	margin:0 auto;
}