/* -------------------------------------------------------buys_show 購入履歴---------------------------------- */

/*<!-- 購入履歴画面（箱） -->*/
.buys_show_box {
	height: 600px;
	background-color: grey;
	width: 80%;
	margin: 0 auto;
	margin-top: 3%;
}

/*<!-- 箱のふた（注文日、合計金額、お届け先が入る） -->*/
.buys_show_small_box1 {
	height: 100px;
	background-color: green;
}

/*注文日、合計金額、お届け先の左側テーブル*/
.buys_show_small_box1_table1 {
	background-color: orange;
	margin-left: 5%;
	display: inline-block;
	vertical-align: top;
}

/*注文日、合計金額、お届け先のテーブル上の行*/
.buys_show_small_box1_td1 {
	width: 180px;
	height: 47px;
	vertical-align: bottom;
	color: #555;
	font-size: 13px;
}

/*注文日、合計金額、お届け先のテーブル下の行*/
.buys_show_small_box1_td2 {
	width: 180px;
	height: 47px;
	vertical-align: top;
	color: #555;
	font-size: 13px;
}

/*右側のテーブル*/
.buys_show_small_box1_table2 {
	display: inline-block;
	vertical-align: top;
	margin-left: 20%;
	background-color: orange;
}




/*<!-- 箱の中身（1回の注文で注文した商品全てが入る） -->*/
.buys_show_small_box2 {
	height: 500px;
	background-color: blue;
	overflow: hidden;
}

/*<!-- 箱の中身の商品1つ -->*/
.buys_show_product_line {
	height: 240px;
	background-color: red;
	width: 80%;
	margin: 0 auto;
	margin-top: 5%;
	border-top: 1px solid #949494;
	overflow: hidden;
}

/*　商品の画像　*/
.buys_show_product_line_image {
	height: 200px;
	background-color: yellow;
	width: 200px;
	margin: 20px 0px 20px 80px;
	display: inline-block;
	vertical-align: top;
}

/*商品の情報の表*/
.buys_show_product_line table {
	background-color: purple;
	margin: 20px 0px 20px 40px;
	display: inline-block;
	vertical-align: top;
}

/*商品の情報の表の線*/
.buys_show_product_line table {
	border: 0px solid #949494;
	border-collapse: collapse;
}

/*商品の情報の表の線*/
.buys_show_product_line td {
	border: solid 1px #949494;
}

/*商品の情報の表のタイトル部分*/
.buys_show_product_line_td1 {
	height: 50px;
}

/*商品の情報の表の内容の部分*/
.buys_show_product_line_td2 {
	width: 350px;
}





















