// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.privacy{
	width:80%;
	margin: 0 auto;
	font-color:#222;
}