* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/*/＊-------------------newの大箱とα＊/*/


.product_new_big_box{
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    background-color: blue;
}

.p{
    text-align: center;
}

.product_new_middle_box{
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 30px;
    overflow: hidden;

    background-color: red;

}

.product_new_btn{
    width:400px;
    height:200px;
}

/*/＊cocoonで作成できるディスクの箱＊/*/
.products_new_disc_form {

    background-color: white;
    width: 95%;
    margin: 2% 0%;
    border: 1px solid #999999;
}

/*/＊---------------------------------------------------------------詳細ページ＊/*/

.product_show_box{
    width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    background-color: gray;
}
.product_show_album{
    width: 100%;
    height: 50px;
    background-color: gold;
    display: inline-block;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.product_show_middle{
    width: 80%;
    margin : 0 auto;
    background-color: red;
}

.product_show_image{
    width: 50%;
    height:300px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;

}


.product_show_table2{
    width: 49%;
    height:300px;
    background-color: green;
    display: inline-block;
    vertical-align: top;

}

.product_show_table3{
    width: 100%;
}
/*.table,th,td{
     border: 10px solid #bbb;
}*/
/*---全てに反映されてしまうためコメントアウト---*/

	

/*---------------------------------------------------------------詳細ページ*/






.product_show_price{
    width: 100%;
    height: 100px;
    background-color: purple;
    display: inline-block;
    font-size: 64px;
    font-weight: bold;
    text-align: center;



}


.product_show_gocart{
    width: 100%;
    height: 100px;
    background-color: pink;
    display: inline-block;
}

.product_show_introduction{
    width: 100%;
    height: 100px;
    background-color: orange;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    overflow: scroll;
    word-break : break-all;

}
.product_show_chat{
    width: 100%;
    height: 250px;
    background-color:brown;
    display: inline-block;
    overflow: scroll;
    word-break : break-all;
}


.bottan{
    width: 100px;
    height: 100px;
    background-color: blue;



}


/*/＊-------------------------------------------編集ページ---＊/*/


.product_edit_box{
    width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    /*background-color: gray;*/
}
.product_edit_album{
    width: 100%;
    height: 50px;
    /*background-color: gold;*/
    display: inline-block;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.product_edit_album_name{
	font-size: 35px;
	text-align: center;
	border: 1px solid #999999;
}
.product_edit_middle{
    width: 80%;
    margin : 0 auto;
    background-color: #fff;
    font-family: serif;
}

.product_edit_image{
    width: 50%;
    height:300px;
    /*background-color: blue;*/
    display: inline-block;
    vertical-align: top;
    text-align: center;
}


.product_edit_table2{
    width: 49%;
    height:300px;
    /*background-color: green;*/
    display: inline-block;
    vertical-align: top;

}

.product_edit_table3{
    width: 100%;
    text-align: center;
    font-size: 25px;
}
/*.table,th,td{
     border: 10px solid #bbb;
}*/
/*---全てに反映されてしまうためコメントアウト---*/

.product_edit_price{
    width: 100%;
    height: 100px;
    background-color: gainsboro;
    display: inline-block;
    font-size: 64px;
    font-weight: bold;
    text-align: center;


}
.product_edit_price_edit{
	font-size: 80%;
	width: 30%;


.product_show_gocart{
	width: 100%;
	height: 100px;
	background-color: pink;
	display: inline-block;
}
.product_show_introduction{
	width: 100%;
	height: 100px;
	background-color: orange;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	overflow: scroll;
	word-break : break-all;

}
.product_show_chat{
	width: 100%;
	height: 250px;
	background-color:brown;
	display: inline-block;
	overflow: scroll;
	word-break : break-all;
}


.bottan{
	width: 100px;
	height: 100px;
	background-color: blue;

}


/*-------------------------------------------編集ページ---*/


.product_edit_box{
	width: 80%;
	padding-top: 50px;
	margin: 0 auto;
	background-color: gray;
}
.product_edit_album{
	width: 100%;
	height: 50px;
	background-color: gold;
	display: inline-block;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}
.product_edit_middle{
	width: 80%;
	margin : 0 auto;
	background-color: red;
}

.product_edit_image{
	width: 50%;
	height:300px;
	background-color: blue;
	display: inline-block;
	vertical-align: top;

}


.product_edit_table2{
	width: 49%;
	height:300px;
	background-color: green;
	display: inline-block;
	vertical-align: top;

}

.product_edit_table3{
	width: 100%;
}
.table,th,td{
	 border: 10px solid #bbb;
}

.product_edit_price{
	width: 100%;
	height: 100px;
	background-color: purple;
	display: inline-block;
	font-size: 64px;
	font-weight: bold;
	text-align: center;



}


.product_edit_gocart{

    width: 100%;
    height: 100px;
    background-color: pink;
    display: inline-block;
}
.product_edit_introduction{
    width: 100%;
    height: 100px;
    background-color: orange;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    overflow: scroll;
    word-break : break-all;
    border: 1px solid #999999;

}
.product_edit_introduction_text{
	width: 100%;
	font-size: 20px;
}
.product_edit_chat{
    width: 100%;
    height: 250px;
    background-color:brown;
    display: inline-block;
    overflow: scroll;
    word-break : break-all;

	
}



.product_edit_table{
    width: 300px;
    height: 350px;
    background-color: silver;
    overflow: scroll;
    table-layout: fixed;
}






.clearfix::after {
 content: "";
 display: inline-block;
 clear: both;
}

.product_edit_number{

    width: 40px;
    height: 20px;
}
input#product_count{
	font-size: 20px;
	border: 1px solid #999999;
	width: 15%;
	height: 10%;
	border-radius: 4px;
	text-align: center;
}
textarea#product_label{
	font-size: 100%;
}
input#product_status{
	font-size: 100%;
}



/*/＊<!-- -----------------------------------------作佐部修正--------------------------------------- -->＊/*/
/*/＊-----------------------------------ここからindexの新着アイテム（３つ並んでるとこ）＊/*/

/*/＊ここからトップビジュアルフェードインのための記述＊/*/
/*#slide {
width:640px;
height:300px;
margin:0 auto;
position:relative;
}
#slide img {
position:absolute;
left:0;
top:0;
}*/
/*/＊ここまでトップビジュアルフェードインのための記述＊/*/
/*.product_index_content {
    width: 90%;
    margin: 0% auto;
    margin-top: 5%;
    text-align: center;
}*/



/*箱ごとリンクはった時についた下線を消す*/
.product_index_content a {
	text-decoration: none;
}


.product_index_content {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}

/*/＊新着アイテムの文字のとこ＊/*/
.product_index_content_headtitle {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

/*/＊商品画像、商品名、値段が入るbox＊/*/
.product_index_middle_box {
    background-color: white;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 1% 3%;
}

/*/＊商品の画像の箱＊/*/
.product_index_middle_box1{
    width: 300px;
    height: 300px;
    vertical-align: bottom;
    border: 1px solid #999999;
}

/*/＊商品の名前と値段の箱＊/*/
.product_index_middle_box2{
    width: 300px;
    height: 130px;
    border: 1px solid #999999;
    border-top: 0px;
}

/*/＊商品名の行の高さ＊/*/
.product_index_small_box_album {
    line-height: 50px;
}

/*/＊新しい値段の取り消し線について＊/*/
.product_index_small_box_line {
    text-decoration: line-through;
    color: red;
}

/*/＊古い値段の文字の色＊/*/
.product_index_small_box_old_price {
    color: black;
}

/*/＊新しい値段の文字の色＊/*/
.product_index_small_box_new_price {
    color: red;
}



/*/＊----------------ここから2段目以降の箱について＊/*/

.product_index_content_2 {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.product_index_middle_box_2 {
    background-color: white;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 1% 0.5%;
}


.product_index_content_3 {
    width: 100%;
    text-align: center;
    margin: 5% 0;
}




/*/＊<!-- -----------------------------------------作佐部修正ここまで--------------------------------------- -->＊/*/


.product_index_content2 {
    background-color: rgb(150, 200, 240);
    width: 1300px;
    height: 600px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 45px;
}

.product_index_content_headtitle2 {
    background-color: pink;
    width: 1200px;
    height: 50px;
    text-align: center;
}

.product_index_disc_box2 {
    background-color: rgb(150, 150, 250);
    width: 300px;
    height: 500px;
    float: left;
}


.product_index_disc_box_image2 {
    background-color: rgb(200, 150, 250);
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-top: 35px;
}

.product_index_disc_box_album2 {
    background-color: rgb(180, 240, 250);
    width: 250px;
    height: 30px;
    margin: 0 auto;

}

.product_index_disc_box_price2 {
    background-color: rgb(200, 200, 250);
    width: 250px;
    height: 30px;
    margin: 0 auto;
}

.products_index_column {

/*/＊アドバンストモードの検索カラムを指定できないので、不要なものを非表示にするためのコード＊/*/

$is: 1,2,3,4,5,6,10,11,12,13,14,15;
/*$isに何番目を指定するかいれる*/
/*/＊つまり１,2,5,8,10,11,12番目のカラムを消そうとしてる＊/*/

@each $i in $is {
    option:nth-of-type(#{$i}) { display: none }
}
}
/*/＊&iに&isの中のものをひとつずついれて、指定要素の指定番目に{}を実行する＊/
/＊&iに&isの中のものをひとつずついれて、指定要素の指定番目に{}を実行する＊/*/