* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------newの大箱とα*/


.product_new_big_box{
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
	background-color: blue;
}

.p{
	text-align: center;
}

.product_new_middle_box{
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	padding-left: 30px;
	overflow: hidden;
	background-color: red;

}

.product_new_btn{
	width:400px;
	height:200px;
}
/*---------------------------------------------------------------詳細ページ*/
.product_show_big_box{
	width:80%;
	margin :0 auto;
	background-color: yellow;

}
#ppp{
	text-align: center;
}


.product_show_artist{
	width:100%;
	background-color: red;
}
.product_show_artist_left{
	width: 50%;
	float: left;
	background-color: orange;
	text-align: right;
}
.product_show_artist_right{
	width: 50%;
	float: right;
	background-color: brown;
	text-align: left;
	font-size: 32px;
	font-weight: bold;
}

.product_show_alubm_left{
	width: 50%;
	float: left;
	background-color: orange;
	text-align: right;
}
.product_show_album_right{
	width: 50%;
	float: right;
	background-color: brown;
	text-align: left;
	font-size: 32px;
	font-weight: bold;
}

/*--------------------------*/
.product_show_image_name{
	width: 100%;
	height: 400px;
	background-color: green;
	margin-top: 10px;
}

.product_show_image{
	width: 300px;
	height: 400px;
	display: inline-block;
	margin-left: 10%;
	margin-right:10%;
	background-color: blue;
	vertical-align: top;
}

.product_show_name{
	width: 300px;
	height: 400px;
	display: inline-block;
	margin-left: 10%;
	/*margin-right:10%*/
	background-color: blue;
	vertical-align: top;
}

.product_show_margin{
	width: 80%;
	height: 400px;
	margin :0 auto;

	background-color: pink;
}
/*----------------------------*/



.product_show_song_index{
	width: 100%;
	height: 400px;
	background-color: green;
	margin-top: 10px;
}

.product_show_song{
	width: 300px;
	height: 400px;
	display: inline-block;
	margin-left: 10%;
	margin-right:10%;
	background-color: blue;
	vertical-align: top;

}


.product_show_introduction{

	width: 300px;
	height: 400px;
	display: inline-block;
	margin-left: 10%;
/*	margin-right:10%;*/
	background-color: blue;
	vertical-align: top;
}

.product_show_scroll{
	width: 300px;
	height:350px;
	background-color: orange;
	overflow-x: scroll;
	word-wrap: break-word;
}

/*---------------------------*/


.product_show_comment_cart{
	width: 100%;
	height: 400px;
	background-color: green;
	margin-top: 10px;
}

.product_show_comment{
	width: 300px;
	height: 400px;
	display: inline-block;
	margin-left: 10%;
	margin-right:10%;
	background-color: blue;
	vertical-align: top;

}


.product_show_cart{

	width: 300px;
	height: 400px;
	display: inline-block;
	margin-left: 10%;
	/*margin-right:10%;*/
	background-color: blue;
	vertical-align: top;

}

.bbtn{
	display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.product_show_secret{
	width:100%;
	background-color: yellow;
	margin-top: 312px;
}

/*-------------------------------------------編集ページ---*/






.product_edit_big_box{
	width:80%;
	margin :0 auto;
	background-color: yellow;

}
#ooo{
	text-align: center;
}


.product_edit_artist{
	width:100%;
	height: 48px;
	background-color: red;
}
.product_edit_artist_left{
	width: 50%;
	float: left;
	background-color: orange;
	text-align: right;
}
.product_edit_artist_right{
	width: 50%;
	float: right;
	background-color: brown;
	text-align: left;
	font-size: 32px;
	font-weight: bold;
}

.product_edit_alubm_left{
	width: 50%;
	float: left;
	background-color: orange;
	text-align: right;
}
.product_edit_album_right{
	width: 50%;
	float: right;
	background-color: brown;
	text-align: left;
	font-size: 32px;
	font-weight: bold;
}

/*-------------------------*/

.product_edit_image_name{
	width: 100%;
	height: 400px;
	background-color: green;
	margin-top: 10px;
}

.product_edit_image{
	width: 300px;
	height: 400px;
	display: inline-block;
	margin-left: 10%;
	margin-right:10%;
	background-color: blue;
	vertical-align: top;
}

.product_edit_label{
	width: 300px;
	height: 400px;
	display: inline-block;
	margin-left: 10%;
	/*margin-right:10%*/
	background-color: blue;
	vertical-align: top;
}

.product_edit_margin{
	width: 80%;
	height: 400px;
	margin :0 auto;

	background-color: pink;
}
/*----------------------------*/



.product_edit_song_index{
	width: 100%;
	height: 400px;
	background-color: green;
	margin-top: 10px;
}

.product_edit_song{
	width: 300px;
	height: 400px;
	display: inline-block;
	margin-left: 10%;
	margin-right:10%;
	background-color: blue;
	vertical-align: top;

}


.product_edit_introduction{

	width: 300px;
	height: 400px;
	display: inline-block;
	margin-left: 10%;
	background-color: blue;
	vertical-align: top;

}


.btn{

	width:200px;
 	height:100px;
 	line-height:100px;
	text-align:center;
	display:inline-block;
	background:#9b4dca;
 	color:#fff;
 	border-radius:5px;
 	text-decoration:none;
 	float: right;
}

/*---------------------------*/


.product_show_table{
	width: 300px;
	height: 350px;
	background-color: silver;
	overflow: scroll;
	table-layout: fixed;
}

.product_edit_table{
	width: 300px;
	height: 350px;
	background-color: silver;
	overflow: scroll;
	table-layout: fixed;
}


.product_show_table{
	width: 300px;
	height:350px;
	background-color: orange;
	overflow: scroll;
}



.clearfix::after {
  content: "";
  display: inline-block;
  clear: both;
}





/*<!-- -----------------------------------------作佐部修正--------------------------------------- -->*/


/*-----------------------------------ここからindexの新着アイテム（３つ並んでるとこ）*/
.product_index_content {
	width: 90%;
	margin: 0% auto;
	margin-top: 5%;
	text-align: center;
}

/*新着アイテムの文字のとこ*/
.product_index_content_headtitle {
	width: 100%;
	text-align: center;
	text-decoration: underline;
}

/*商品画像、商品名、値段が入るbox*/
.product_index_middle_box {
	background-color: white;
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin: 1% 3%;
}

/*商品の画像の箱*/
.product_index_middle_box1{
	width: 300px;
	height: 300px;
	vertical-align: bottom;
	border: 1px solid #999999;
}

/*商品の名前と値段の箱*/
.product_index_middle_box2{
	width: 300px;
	height: 130px;
	border: 1px solid #999999;
	border-top: 0px;
}

/*商品名の行の高さ*/
.product_index_small_box_album {
	line-height: 50px;
}

/*新しい値段の取り消し線について*/
.product_index_small_box_line {
	text-decoration: line-through;
	color: red;
}

/*古い値段の文字の色*/
.product_index_small_box_old_price {
	color: black;
}

/*新しい値段の文字の色*/
.product_index_small_box_new_price {
	color: red;
}



/*----------------ここから2段目以降の箱について*/

.product_index_content_2 {
	width: 100%;
	text-align: center;
	margin-top: 5%;
}

.product_index_middle_box_2 {
	background-color: white;
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin: 1% 0.5%;
}


.product_index_content_3 {
	width: 100%;
	text-align: center;
	margin: 5% 0;
}




/*<!-- -----------------------------------------作佐部修正ここまで--------------------------------------- -->*/


.product_index_content2 {
	background-color: rgb(150, 200, 240);
	width: 1300px;
	height: 600px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0 45px;
}

.product_index_content_headtitle2 {
	background-color: pink;
	width: 1200px;
	height: 50px;
	text-align: center;
}

.product_index_disc_box2 {
	background-color: rgb(150, 150, 250);
	width: 300px;
	height: 500px;
	float: left;
}


.product_index_disc_box_image2 {
	background-color: rgb(200, 150, 250);
	width: 250px;
	height: 250px;
	margin: 0 auto;
	margin-top: 35px;
}

.product_index_disc_box_album2 {
	background-color: rgb(180, 240, 250);
	width: 250px;
	height: 30px;
	margin: 0 auto;

}

.product_index_disc_box_price2 {
	background-color: rgb(200, 200, 250);
	width: 250px;
	height: 30px;
	margin: 0 auto;
}

.products_index_column {

/*アドバンストモードの検索カラムを指定できないので、不要なものを非表示にするためのコード*/

$is: 1,2,3,4,5,6,10,11,12,13,14,15;/*$isに何番目を指定するかいれる*/
/*つまり１,2,5,8,10,11,12番目のカラムを消そうとしてる*/

@each $i in $is {
	option:nth-of-type(#{$i}) { display: none }
}
}
/*&iに&isの中のものをひとつずついれて、指定要素の指定番目に{}を実行する*/

