* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: inline-block;
  clear: both;
}

/*ここから新着アイテム（３つ並んでるとこ）*/

.product_index_content {
	background-color: rgb(150, 200, 240);
	width: 1300px;
	height: 500px;
	margin-top: 50px;
	margin: 0 auto;
	padding: 0 45px;
}

.product_index_content_headtitle {
	background-color: pink;
	width: 1200px;
	height: 50px;
	text-align: center;
}

.product_index_disc_box {
	background-color: rgb(150, 150, 250);
	width: 400px;
	height: 450px;
	float: left;
	display: inline-block;
}


.product_index_disc_box_image {
	background-color: rgb(200, 150, 250);
	width: 300px;
	height: 300px;
	margin: 0 auto;
	margin-top: 35px;
}

.product_index_disc_box_album {
	background-color: rgb(180, 240, 250);
	width: 300px;
	height: 30px;
	margin: 0 auto;

}

.product_index_disc_box_price {
	background-color: rgb(200, 200, 250);
	width: 300px;
	height: 30px;
	margin: 0 auto;
}

/*ここからジャンル別(４つ並んでるとこ)*/

.product_index_content2 {
	background-color: rgb(150, 200, 240);
	width: 1300px;
	height: 450px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0 45px;
}

.product_index_content_headtitle2 {
	background-color: pink;
	width: 1200px;
	height: 50px;
	text-align: center;
}

.product_index_disc_box2 {
	background-color: rgb(150, 150, 250);
	width: 300px;
	height: 400px;
	float: left;
}


.product_index_disc_box_image2 {
	background-color: rgb(200, 150, 250);
	width: 250px;
	height: 250px;
	margin: 0 auto;
	margin-top: 35px;
}

.product_index_disc_box_album2 {
	background-color: rgb(180, 240, 250);
	width: 250px;
	height: 30px;
	margin: 0 auto;

}

.product_index_disc_box_price2 {
	background-color: rgb(200, 200, 250);
	width: 250px;
	height: 30px;
	margin: 0 auto;
}