// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
/*------users_show、users_show_editの全体------*/
.users_show_mypage, .users_edit_mypage{
	width: 100%;
	height: 100%;

	/*background-color:#FF9872;*/
}

.users_show_account, .users_show_products,.users_show_chats{
	text-align: center;
	height: 100%;
	margin-top: 15%;
}
/*------users_show_editのみ全体------*/
.users_edit_accountimage, .users_edit_account{
	text-align: center;
}
/*------users_show　左------*/
.users_show_left{
	/*background-color: #99FF99;*/
	width: 30%;
	height: 1000px;
	float: left;
}
.users_show_image_cicle{
	border-radius: 400px;
	width: 70%;
	border: 1px solid #999999;
}
.users_show_name{
	text-decoration: underline;
}
.users_show_profile_comment{
	width: auto;
	height: 300px;
	background-color: #fff;
	margin: 30px;
	text-align: left;
	border-radius: 10px;
	border: 1px solid #999999;
	overflow: scroll;
	word-break: break-all;
}

/*------users_show　中央------*/
.users_show_center{
	background-color: #FFF;
	width: 40%;
	height: 1000px;
	float: left;
	overflow: scroll;
}
.users_show_shows{
	/*background-color: #FFFF66;*/
	height: 240px;
	width: 100%;
	margin-top: 5%;
	border-top: 1px solid;
	border-bottom: 1px solid;
	overflow: hidden;
}
.users_show_shows_link{
	text-decoration: none;
}
.users_show_shows_products{
	height: 100%;
}
.users_show_image{
	height: 75%;
	background-color: red;
	margin: 30px 25px 0 10px;
	display: inline-block;
	vertical-align: top;
	float: left;
	border:1px solid #999999;
}
.users_show_box{
	height: 80%;
	width: 55%;
	word-break: break-all;
	/*文字が増えた際、はみ出してしまうため*/
}
/*------users_show　右------*/
.users_show_right{
	/*background-color: #FFFF66;*/
	width: 25%;
	height: 1000px;
	display: inline-block;
}
.users_show_chats_box{
	width: 90%;
	margin: 0 45px;
}
.user_show_talks{
	width: 10%;
	display: -webkit-box;
}
.users_show_chat_image_cicle{
	border-radius: 400px;
	width: 70%;
	border: 1px solid #999999;
}
.user_show_talk_image,.user_show_talk_name,.user_show_talk_contents{
	display: inline-block;
}

.user_show_talk_image{

}
.user_show_talk_name{

}
.user_show_talk_content{
	background: #d7ebfe;
	width: 200px;
	margin-bottom: 20px;
	margin-left: 20px;
	border-radius: 12px;
	text-align: left; 
	padding: 10px;
	word-break: break-word;
}
.user_show_talk_destroy{
	text-align: right;

}

.users_show_chats_comments{
	/*width: 90%;
	height: 500px;
	background-color: #fff;
	border-radius: 10px;
	border: solid 3px #6091d3;
	margin: auto;
	margin-bottom: 30px;
	overflow: scroll;*/
}
.users_show_chats_table{
	overflow: scroll;
	height:650px;
	width: 100%;
	background-color: #fff;
	border: 1px solid;
	border-radius: 5px;
}
.users_show_chats_send{
	margin: 20px
}
textarea#talk_content{
	border: 1px solid #999999;
}
/*------users_show_edit　左------*/
.users_edit_left{
	/*background-color: #99FF99;*/
	width: 40%;
	height: 1000px;
	float: left;
	padding-top: 100px;
}
/*------users_show_edit　右------*/
.users_edit_right{
	/*background-color: #FFFF66;*/
	width: 60%;
	height: 1000px;
	display: inline-block;
	padding-top: 100px;
}

.users_edit_account_edit{

	width: 300px;
	height: 40px;
	font-size: 20px;
}




