<div class="nested-fields disc_cocoon_form">
	<div class="disc_fields_remove_disc_btn_position">
		<%= link_to_remove_association "ディスクを削除", f, class: "disc_fields_remove_disc_btn" %>
	</div>
	<div>
		<%= f.fields_for :songs do |song| %>
			<%= render 'song_fields', f: song %>
		<% end %>

		<div class="desic_fields_add_songs_btn_psition">
			<%= link_to_add_association "曲名を追加", f, :songs, data: {association_insertion_method: 'append'}, class: "disc_fields_add_songs_btn" %>
		</div>
	</div>
</div>
