<html>

<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">

<!-- 新着アイテム-->
<div class="product_index_content">
	<h1 class="product_index_content_headtitle">新着アイテム</h1>
	<div class="product_index_disc_box">
		<div class="product_index_disc_box_">
			
		</div>
	</div>
		
</div>

</div>
<!-- J-POP -->
<div class="product_index_content">
	<h1 class="product_index_content_headtitle">J-POP</h1></div>
<!-- 洋楽 -->
<div class="product_index_content">
	<h1 class="product_index_content_headtitle">洋楽</h1></div>
<!-- K-POP-->
<div class="product_index_content">
	<h1 class="product_index_content_headtitle">K-POP</h1></div>

 <%=link_to"Log out",destroy_user_session_path, method: :delete %>