<div class="product_new_a_box">

</div>
<div class="product_new_b_box">

</div>
<div class="product_new_c_box">

</div>
<div class="product_new_d_box">

</div>
<div class="product_new_e_box">

</div>
<div class="product_new_f_box">

</div>